.a1{
    background-image: url("https://cdn.pixabay.com/photo/2016/11/09/23/16/music-1813100_1280.png");

}
.logo{
    width: 100%;
}
.button{
    border-radius:16px;
    background-color: #FF405C;
    width: 50%;
    height: 7%;
    position: absolute;
    left: 25%;
    border: #F484BE;
}
.music{
    color: #FDD5D5;
    position: absolute;
    top: -50%;
    left: 14%;
    font-size: xx-large;
    font-family: serif;
}